body {
    color: white;
    background-color: grey;

    justify-self: center;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}

#title {
    display: inline-block;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 20px solid purple;
    border-radius: 50px;
    background-color: darkmagenta;

    color: white;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}